html {
    background: #EFEFEF;
}

html, body {
    background : "#EFEFEF";
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 800px;
    grid-template-rows : 150px 100vh;
    gap: 0px;
    height: 100vh;
    width: 100vw;
}

.item {
    background: grey;
}

.item:nth-child(1) {
    grid-row: 1;
    background: #2A80B9;
}

.item:nth-child(2) {
    grid-row: 2;
    background: #343131;
}

.item:nth-child(3) {
    grid-row: 1 / span 2;
    background: #FCFCFC;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 100%;
    }
}