html, body {
    background : "#EFEFEF";
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows : 10% 90%;
    gap: 0px;
    height: 100vw;
    width: 100vw;
}

.item {
    background: grey;
}

.item:nth-child(1) {
    grid-row: 1;
    background: #2A80B9;
}

.item:nth-child(2) {
    grid-row: 2;
    background: #343131;
}

.item:nth-child(3) {
    grid-row: 1 / span 2;
    background: #FCFCFC;
}